.back{
    background-color: #10439F;
    height: 150px;
    width: 300px;
    border-radius: 20px;
}
.ayan{
    border-radius: 50%;
    transform: translateX(100px) translateY(90px);
}
.name{
    transform: translateY(30px) translateX(80px);
}
.profession{
    transform: translateX(95px) translateY(20px);
}
.syntax{
    transform: translateX(50px) translateY(10px);
}
.mustafa{
    border-radius: 50%;
    transform: translateX(130px) translateY(-35px);
}
.hub{
    transform: translateX(200px) translateY(-70px);
    border-radius: 50%;
}
.direct{
    background-color: #10439F;
    color: white;
    border-radius: 10px;
    height: 30px;
    width: 90px;
    transform: translateX(110px) translateY(-10px);
    font-family: sans-serif,Arial, Helvetica, sans-serif;
}
.container{
    border: 1px solid;
    box-shadow: 50px black;
    border-radius: 20px;
    width: 300px;
    margin-top: 10%;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    background: #EADBC8 ;
}
.container2{
    background-color: antiquewhite;
    border-radius: 20px;
}
.button-27 {
    appearance: none;
    background-color: #000000;
    border: 2px solid #1A1A1A;
    border-radius: 15px;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font-family: Roobert,-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    font-size: 16px;
    font-weight: 600;
    line-height: normal;
    margin: 0;
    min-height: 60px;
    min-width: 0;
    outline: none;
    padding: 16px 24px;
    text-align: center;
    text-decoration: none;
    transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    width: 50%;
    will-change: transform;
    margin: 0 0 50px 70px
  }
  
  .button-27:disabled {
    pointer-events: none;
  }
  
  .button-27:hover {
    box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
    transform: translateY(-2px);
  }
  
  .button-27:active {
    box-shadow: none;
    transform: translateY(0);
  }
  @media (min-width:320px) and (max-width:480px){
    .container{
        display: block;
        justify-content: center;
        align-items: center;
        margin-right: 20px ;
        border-radius: 20px;
    }
    body{
        background-color: white;
    }
    .container2{
        background-color: #FEFBF6;
    }
  }